<ion-header>
  <ion-toolbar class="head" style="--background: linear-gradient(145deg, #1b0c0d, #140607); padding: 6px 12px;">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <span style="font-size: 1.2rem; color: #fff;">Chat en construcción</span>
      <ion-button routerLink="/home" fill="clear" class="head">VOLVER</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
