<ion-content *ngIf="match">

  <!-- head -->
  <div class="detail-header">
    <h2>{{ match.home }} vs {{ match.away }}</h2>
    <span class="status">{{ match.status | uppercase }}</span>
  </div>

  <!-- resultado -->
  <div class="score" *ngIf="match.status !== 'pending'">
    <span>{{ match.homeScore }}</span>
    <span>:</span>
    <span>{{ match.awayScore }}</span>
  </div>

  <!-- eventos -->
  <div class="events" *ngIf="events.length">
    <h3>Eventos</h3>

    <div *ngFor="let e of events" class="event">
      ⚽ Min {{ e.minute }} - {{ e.player }} ({{ e.team }})
    </div>
  </div>

  <!-- fromulario -->
  <div class="bet-form" *ngIf="match.status === 'pending'">

    <h3>Realizar apuesta</h3>

    <ion-item>
      <ion-label>{{ match.home }}</ion-label>
      <ion-input type="number" [(ngModel)]="betHome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ match.away }}</ion-label>
      <ion-input type="number" [(ngModel)]="betAway"></ion-input>
    </ion-item>

    <ion-button expand="block" color="danger" (click)="placeBet()">
      Confirmar apuesta
    </ion-button>

  </div>

</ion-content>