<ion-content fullscreen class="register-content">
  <div class="background-overlay"></div>

  <div class="register-center">
    <ion-card class="glass-panel">
      <!-- head -->
      <div class="register-header">
        <div class="logo">
          <ion-icon name="football-outline"></ion-icon>
        </div>
        <h1>FutApp</h1>
        <p>Únete a la jugada</p>
      </div>

      <!-- formulario -->
      <form (ngSubmit)="register()" class="register-form">
        <ion-item class="input-gradient-border">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username"></ion-input>
        </ion-item>

        <!-- email -->
        <ion-item class="input-gradient-border">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <!-- pass -->
        <ion-item class="input-gradient-border">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [attr.type]="showPassword ? 'text' : 'password'"
                     placeholder="Contraseña"
                     [(ngModel)]="password" name="password">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePassword()">
            <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- confirmacio de pass -->
        <ion-item class="input-gradient-border">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [attr.type]="showConfirmPassword ? 'text' : 'password'"
                     placeholder="Confirmar contraseña"
                     [(ngModel)]="confirmPassword" name="confirmPassword">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="toggleConfirmPassword()">
            <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <!-- terminos -->
        <ion-item lines="none" class="terms-item">
          <ion-checkbox slot="start" [(ngModel)]="termsAccepted" name="terms"></ion-checkbox>
          <ion-label>Acepto los <a href="#">Términos y Condiciones</a></ion-label>
        </ion-item>

        <ion-button expand="block" type="submit" class="register-btn">
          REGISTRARSE
        </ion-button>
      </form>

      <div class="register-footer">
        <p>¿Quieres iniciar sesión? 
          <span routerLink="/login" class="auth-link">
  Ingresa aquí
</span>
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>